<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>DomAuthReg</servlet-name>
        <servlet-class>com.action.DomAuthReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserReg</servlet-name>
        <servlet-class>com.action.UserReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginAction</servlet-name>
        <servlet-class>com.action.UserLoginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DomainLogin</servlet-name>
        <servlet-class>com.action.DomainLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrustedLogin</servlet-name>
        <servlet-class>com.action.TrustedLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataOwnerReg</servlet-name>
        <servlet-class>com.action.DataOwnerReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consumer</servlet-name>
        <servlet-class>com.action.Consumer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerLogin</servlet-name>
        <servlet-class>com.action.OwnerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsumerLogin</servlet-name>
        <servlet-class>com.action.ConsumerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadData</servlet-name>
        <servlet-class>com.action.UploadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Action</servlet-name>
        <servlet-class>com.action.Login_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cloudLogin</servlet-name>
        <servlet-class>com.action.cloudLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DomAuthReg</servlet-name>
        <url-pattern>/DomAuthReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserReg</servlet-name>
        <url-pattern>/UserReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginAction</servlet-name>
        <url-pattern>/UserLoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DomainLogin</servlet-name>
        <url-pattern>/DomainLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrustedLogin</servlet-name>
        <url-pattern>/TrustedLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataOwnerReg</servlet-name>
        <url-pattern>/DataOwnerReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consumer</servlet-name>
        <url-pattern>/Consumer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerLogin</servlet-name>
        <url-pattern>/OwnerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsumerLogin</servlet-name>
        <url-pattern>/ConsumerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadData</servlet-name>
        <url-pattern>/UploadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Action</servlet-name>
        <url-pattern>/Login_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cloudLogin</servlet-name>
        <url-pattern>/cloudLogin</url-pattern>
    </servlet-mapping>
   
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
