<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("static/bg.jpg");
            background-repeat: no-repeat;
            background-size: 1350px 600px;
        }
    </style>
</head>

<body>
<p style="color:darkblue;"><b><center><font size="10">Tweepy - Senti Analysis</font></center></b></p>
<div style = "text-align: center; margin-top:355px">
<fieldset style="width:600px; margin:auto; height:150px; background-color:rgb(0, 0, 54);">
<form action="/project" method="POST">
	<p style="color:white;"><b><font size="3">Enter Hashtag : <input type="text" name="email"></font></b></p>
	<p><input type="submit"></p>
</form>
</fieldset>
    </div>
</body>
</html>